body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  font-size: 150%;
}
.main__count{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.main__form {
  display: flex;
  flex-direction: column;
  padding : 4vw 30vw;
  gap: 1rem;
}
.form__submit{
    margin: 0 15vw;
    border:1px solid black;
    padding:0.5rem; 
    border-radius: 10px;
}
.form__input{
    padding:0.5rem;
    border:1px solid black;
    border-radius: 10px;

}
.main__list{
    display: flex;
    flex-direction: column;
    padding : 4vw 30vw;
    gap: 4rem;
}
ul{
    display:flex;
    list-style: none;
    gap:4.5rem;
    flex-wrap: wrap;
}
ul div {
    display: flex;
    flex-direction: column;
    gap:2rem;
    flex-wrap: wrap;
    
}
input{
    padding:0.5rem;
    border:1px solid black;
    border-radius: 10px;
}

button{
    border:1px solid black;
    padding:0.5rem; 
    border-radius: 10px;
}